In [2]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib as plt

In [27]:
df_estructura = pd.read_csv('Input1_clientes_estructura.csv', sep=';' , index_col=0)
df_clientes_venta = pd.read_csv('Input2_clientes_venta.csv', sep=';', index_col=0)
df_clientes_test = pd.read_csv('Input3_clientes_test.csv',sep=';', index_col=0)

In [28]:
df_clientes_venta

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005
...,...,...,...,...,...,...,...,...,...,...
1406111,2020,8,20577,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.039122,0.000000,544.150314
1406112,2020,7,20580,SegmentoPrecio_1,Marca_38,Cupo_2,CapacidadEnvase_10,0.000000,0.000000,0.000000
1406113,2020,7,20580,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.058683,0.000000,759.218996
1406114,2020,9,20580,SegmentoPrecio_1,Marca_38,Cupo_2,CapacidadEnvase_10,0.000000,0.000000,0.000000
1406115,2020,9,20580,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.019561,0.000000,269.150196

In [36]:
df_clientes_venta.Marca2.value_counts()

Marca_1     406526
Marca_5     259193
Marca_4     157191
Marca_6     127809
Marca_9      79070
Marca_7      67038
Marca_2      44635
Marca_3      40010
Marca_15     38816
Marca_16     30083
Marca_8      26739
Marca_12     23107
Marca_17     14251
Marca_20     11913
Marca_10     11411
Marca_39      9089
Marca_38      9089
Marca_11      7889
Marca_14      7408
Marca_24      5035
Marca_23      4978
Marca_22      4613
Marca_25      4077
Marca_13      2827
Marca_29      2706
Marca_19      1567
Marca_32      1515
Marca_26      1409
Marca_18      1405
Marca_28      1286
Marca_27      1125
Marca_30      1093
Marca_31       701
Marca_35       215
Marca_21       163
Marca_36        58
Marca_34        45
Marca_33        18
Marca_37        13
Name: Marca2, dtype: int64

In [37]:
df_clientes_test

         Marca1  Marca2  Marca3  Marca_Inno1  Marca_Inno2
Cliente
10          NaN     NaN     NaN          NaN          NaN
12          NaN     NaN     NaN          NaN          NaN
14          NaN     NaN     NaN          NaN          NaN
15          NaN     NaN     NaN          NaN          NaN
18          NaN     NaN     NaN          NaN          NaN
...         ...     ...     ...          ...          ...
20186       NaN     NaN     NaN          NaN          NaN
20261       NaN     NaN     NaN          NaN          NaN
20309       NaN     NaN     NaN          NaN          NaN
20360       NaN     NaN     NaN          NaN          NaN
20569       NaN     NaN     NaN          NaN          NaN

[9302 rows x 5 columns]

In [39]:
len(df_clientes_venta.Cliente.value_counts())

17010

In [42]:
cliente = df_clientes_venta[(df_clientes_venta.Cliente == 10)]

In [43]:
cliente

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005
...,...,...,...,...,...,...,...,...,...,...
101,2020,6,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_10,0.260813,0.000000,2112.429991
102,2020,7,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_10,0.282547,-41.757398,2246.921378
103,2020,8,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.105379,0.000000,676.240504
1387938,2020,7,10,SegmentoPrecio_1,Marca_38,Cupo_2,CapacidadEnvase_10,0.136927,0.000000,841.952163
1387939,2020,7,10,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.019561,0.000000,273.317665

In [44]:
cliente.Marca2.value_counts()

Marca_1     45
Marca_5     15
Marca_4     12
Marca_2     11
Marca_6      7
Marca_9      5
Marca_10     4
Marca_3      2
Marca_7      2
Marca_38     1
Marca_39     1
Marca_8      1
Name: Marca2, dtype: int64

In [47]:
venta = cliente[(cliente.Marca2=='Marca_10')]
venta

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr
46,2020,3,10,SegmentoPrecio_1,Marca_10,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,175.777440
56,2020,6,10,SegmentoPrecio_1,Marca_10,Cupo_2,CapacidadEnvase_10,0.065203,-33.127208,494.374061
61,2020,7,10,SegmentoPrecio_1,Marca_10,Cupo_1,CapacidadEnvase_12,0.093524,0.000000,842.254251
84,2020,6,10,SegmentoPrecio_1,Marca_10,Cupo_1,CapacidadEnvase_12,0.107552,-33.524238,935.239123

In [48]:
venta_2 = cliente[(cliente.Marca2=='Marca_9')]
venta_2

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr
41,2019,9,10,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,0.037410,-27.511153,595.371853
50,2019,10,10,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,0.018705,0.000000,312.594302
75,2020,1,10,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,0.018705,0.000000,312.594302
78,2020,2,10,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,0.187048,-362.140404,2775.419943
94,2019,12,10,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,0.018705,-41.058746,289.278489

In [49]:
sum(cliente.Volumen)

21.372303781127936

In [50]:
Tabla_marca_10 = df_clientes_venta[(df_clientes_venta.Marca2 == "Marca_10")]

In [51]:
Tabla_marca_10

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr
46,2020,3,10,SegmentoPrecio_1,Marca_10,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,175.777440
56,2020,6,10,SegmentoPrecio_1,Marca_10,Cupo_2,CapacidadEnvase_10,0.065203,-33.127208,494.374061
61,2020,7,10,SegmentoPrecio_1,Marca_10,Cupo_1,CapacidadEnvase_12,0.093524,0.000000,842.254251
84,2020,6,10,SegmentoPrecio_1,Marca_10,Cupo_1,CapacidadEnvase_12,0.107552,-33.524238,935.239123
215,2020,3,12,SegmentoPrecio_1,Marca_10,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,179.008668
...,...,...,...,...,...,...,...,...,...,...
1386960,2020,8,1470,SegmentoPrecio_1,Marca_10,Cupo_2,CapacidadEnvase_10,0.065203,0.000000,527.332321
1387014,2020,3,2364,SegmentoPrecio_1,Marca_10,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,175.777440
1387387,2020,3,9205,SegmentoPrecio_1,Marca_10,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,351.554881
1387577,2020,4,3998,SegmentoPrecio_1,Marca_10,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,175.777440
1387672,2020,3,12677,SegmentoPrecio_1,Marca_10,Cupo_1,CapacidadEnvase_12,0.018705,0.000000,168.450861

In [59]:
volumen_marca_10 = sum(Tabla_marca_10.Volumen)

In [72]:
volumen_total = sum(df_clientes_venta[(df_clientes_venta.nr != 0)].Volumen)
volumen_total

322613.94858383294

In [62]:
Probabilidad_Marca = volumen_marca_10 / volumen_total
Probabilidad_Marca

0.001712614861952101

In [71]:
volumen_marca_1 = sum(df_clientes_venta[(df_clientes_venta.Marca2 == "Marca_1") & (df_clientes_venta.nr != 0) ].Volumen)
volumen_marca_1

143759.31968694195

In [66]:
Propbabilidad_marca1 = volumen_marca_1 / volumen_total
Propbabilidad_marca1

0.4456079725932439

In [67]:
nr_0 = df_clientes_venta[(df_clientes_venta.nr == 0)]

In [68]:
nr_0

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr
725145,2020,9,9299,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_17,0.028540,0.0,0.0
910771,2019,9,14481,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_10,0.021734,0.0,0.0
1387941,2020,8,212,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.000000,0.0,0.0
1387949,2020,7,591,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.000000,0.0,0.0
1387951,2020,7,614,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1406103,2020,7,20529,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.000000,0.0,0.0
1406105,2020,8,20529,SegmentoPrecio_3,Marca_39,Cupo_2,CapacidadEnvase_10,0.000000,0.0,0.0
1406108,2020,7,20569,SegmentoPrecio_1,Marca_38,Cupo_2,CapacidadEnvase_10,0.000000,0.0,0.0
1406112,2020,7,20580,SegmentoPrecio_1,Marca_38,Cupo_2,CapacidadEnvase_10,0.000000,0.0,0.0
1406114,2020,9,20580,SegmentoPrecio_1,Marca_38,Cupo_2,CapacidadEnvase_10,0.000000,0.0,0.0